name: "Issue Form Labeler"
on:
  issues:
    types:
      - opened
      - edited

jobs:
  label_issue:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: stefanbuck/github-issue-parser@v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/bug_report.yml
      - uses: fuxingloh/multi-labeler@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issues-body: ${{ steps.issue-parser.outputs.json }}
          config: |
            [
              {
                "id": "type_labels",
                "when":
                {
                  "type": ["ROM Verification", "Campaign", "Custom Level", "Level Editor", "Default Resources", "Custom Resources", "GML Modding", "Inaccuracy", "Localization", "UI (User Interface)", "Miscellaneous"]
                },
                "labels": {
                  "ROM Verification": ["ROM Verification"],
                  "Campaign": ["Campaign"],
                  "Custom Level": ["Custom Level"],
                  "Level Editor": ["Level Editor"],
                  "Default Resources": ["Default Resources"],
                  "Custom Resources": ["Custom Resources"],
                  "GML Modding": ["GML Modding"],
                  "Inaccuracy": ["Inaccuracy"],
                  "Localization": ["Localization"],
                  "UI (User Interface)": ["UI"],
                  "Miscellaneous": ["Miscellaneous"]
                }
              }
            ]
