name: "Issue Form Labeler"
on:
  issues:
    types:
      - opened
      - edited

jobs:
  label_issue:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - name: Parse issue form
        uses: stefanbuck/github-issue-parser@v3
        id: parse
        with:
          template-path: .github/ISSUE_TEMPLATE/bug_report.yml

      - name: Apply labels based on type
        uses: redhat-plumbers-in-action/advanced-issue-labeler@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-json: ${{ steps.parse.outputs.json }}
          policy-config: |
            type:
              ROM Verification: ["ROM Verification"]
              Campaign: ["Campaign"]
              Custom Level: ["Custom Level"]
              Level Editor: ["Level Editor"]
              Default Resources: ["Default Resources"]
              Custom Resources: ["Custom Resources"]
              GML Modding: ["GML Modding"]
              Inaccuracy: ["Inaccuracy"]
              Localization: ["Localization"]
              UI (User Interface): ["UI"]
              Miscellaneous: ["Miscellaneous"]
